<div class="container-fluid" id="sign_in_form">
 
  <div class="clearfix"></div>
  <!--clearfix-->
  <div class="row-fluid">
    <div class="container" style="margin-top:-15px;">
      <div class="offset1 span7">
       
      </div>
      <!--span7-->
      <div class="offset4"></div>
      <!--offset4-->
    </div>
    <!--container-->
  </div>
  <!--row-fluid-->
  <div class="clearfix"></div>
  <!--clearfix-->
  <div class="row-fluid">
    <div class="container" style="margin-top:-15px;">
      <div align="center">
<div class="up">
  <table>
      <tr>
      <td>  
      <h4 style="margin-right: 128px;">Sign up</h4>
    </td>
    <td><%=link_to "Sign In", sign_in_home_index_path%></td>
    </tr>
      
  </table>  
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div style="margin-right: 167px;">
  EMAIL
  </div>
    <div><%= f.email_field :email, :autofocus => true %></div>

   <div style="margin-right: 140px;">
   PASSWORD
  </div>
  <div> 
  <%= f.password_field :password %></div>

  <div style="margin-right: 20px;">
  PASSWORD CONFIRMATION
  </div>
  <div> 
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" ,:class=>"btn btn-primary"%></div>
<% end %>
</div>
</div>
  </div>
  </div>
  </div>

<%#= render "devise/shared/links" %>