
<div class="inner">
  <div class="accordion-inner">
     <ul class="one">
      <li id="archive_farmer_individual" id ="crop" style="width:16%" >
        <%= link_to"<p class=farmerArchive>Archive</p>".html_safe,"#", :remote => true %>
      </li>

      <% @years=[] %>
      <% @year.each do |year| %>
        <% @years << year.year %>  
      <%end%>
      <%@years=@years.sort%>

      <%if !@years.nil?%>
        <% @years.each_with_index do |year,index| %> 
          <%if index<=4%>
          <%if !(@archive_year.include? year)%>
         
            <%if year==Year.all.reverse.first.year && params[:data].blank?%>
              <li style="width:19%"><%= link_to"<p id=crop_#{year} class=list-select>#{year}</p>".html_safe, { :action => "crop", :data=>year, :user_id=>current_user.id}, :remote => true %></li>       
            <%else%>
              <li style="width:19%"><%= link_to"<p id=crop_#{year} >#{year}</p>".html_safe, { :action => "crop", :data=>year, :user_id=>current_user.id}, :remote => true %></li>       
            <%end%>
          <% end %>
             
          <%end%>   
         
          
        <% end %>
      
      <% end %>    
       
    </ul>
   

    <ul class="two">
       <%if !@years.nil?%>
       
        <% @years.each do |year| %> 

               
         <% if (@archive_year.include? year)%>       
            <li style="display:none" class="archive_year_farmer_crop" ><%= link_to"<p id=crop_#{year}>#{year}</p>".html_safe, { :action => "crop", :data=>year,:user_id=>current_user.id}, :remote => true %></li>
          <% end %>
        <% end %>
     
      <% end %>   
         

    </ul>
  <div class="clearfix"></div>
  <!--clearfix-->
  <br>

  <%= link_to "Add New Crop",create_crop_information_home_index_path,:class=>"btn btn",:style=>"float: right;" %>
  <br>
   <br>
    <br>
  <div id="crop_detail_farmer">
    <%=render "crop_farmer_update_information"%> 
  
  </div>

</div>
  <!--accordion-inner-->
</div>

<div class="hidden">
  <div id="expense">   
    <%= form_tag(crop_expense_home_index_path ,:remote=>true,:method=>:get,:class=>"post") do%>
    
      <h3>  Add Expenses Category</h3>
      <%=text_field_tag "crop_expense[expense]" %>
      <%=hidden_field_tag "crop_expense[year]",params[:data]%>
      <br/>
      <%= submit_tag "Save" ,:class=>"btn btn-primary"%>
    <%end%>  
 </div>

</div>



<script type="text/javascript">
  $(document).ready(function(){
    $("#archive_farmer_individual").click(function(){   
      
      $(".archive_year_farmer_crop").toggle();
      $('.accordion-inner').find('.list-select').removeClass('list-select');
       $('.farmerArchive').addClass('list-select');
    });
 $(".fancybox").fancybox()  

   
   // $('.best_in_place').bind("ajax:success", function(){ alert('Name updated for '+$(this).data('crop')); });
   // $('.best').bind("ajax:success", function(){ alert(1) });
    $('.best_in_place').best_in_place()
   
});

 



</script>