
<div class="container">
<%= form_tag hedge_sale_create_home_index_path do  %>
   
  <%if id=="cash"%>
    <h4 style="padding-left: 187px;">Cash Sale</h4>
    <table>
      <tr>

        <td style="padding-left: 187px;">
          <div>

      



            <%= label_tag :year %>

            <%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] },:selected=>@year) %>
          </div>
          <div >
            </br><%= label_tag :crop %>
            <%if current_user.has_role? :consultant%>
              <%= select_tag 'crop_name',options_for_select([["Corn","Corn"],["Soyabean","Soyabean"],["Wheat","Wheat"]]) %>
            <%else%>
              <%= select_tag 'crop_name',options_for_select( @crop.each_with_index.map {|name| [name,name]},:selected=>@crop_name) %>
            <%end%>
          </div>
          <div>
            </br><%= label_tag :Open_Order %>
             <%= select_tag :open_order, options_for_select([['No',false],['Yes', true]]) %>
          </div>
          
          <div>
            <%= label_tag :Bushels %>
               <%=text_field_tag :bushels , (!@bushels.blank?) ? @bushels : " ", :class=>"bushels"  %>  
          </div>
       
          <div>
            <%=label_tag :Delivery_Location %>
             <%= text_field_tag :delivery_location%>
          </div> 
        </td>
        <td style="padding-left: 187px;">
           <div>
            <%= label_tag :Future_Price %>
            <%= text_field_tag :futures_price,nil,:class=>"future_price"%>
          </div>
          <div>
              <%= label_tag :Basis %>
              <%= text_field_tag :basic,nil,:class=>"basic"%>
          </div>   
          <div>
              <%= label_tag :Cash_Price %>
              <%= text_field_tag :cash_price,nil,:disabled=>true%>
          </div>    
          <div>
            <%= label_tag :contract_Number %>
            <%= text_field_tag :contact_number%>
          </div>   


          <div>
              <%= label_tag :percentage_Production %>
             
              <%= text_field_tag :percentage_production ,(!@percetage_production.blank?) ? @percetage_production : " " ,:readonly => true%>
          </div>
        </td>
       </tr>
    </table>
  <%end%>

<%if id=="forward"%>
    <h4 style="padding-left: 187px;">Forward Contract</h4>
    
    <table>
      <tr>
        <td style="padding-left: 187px;">
           <div>
           </br>  </br> <%= label_tag :year %>
             <%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] },:selected=>@year) %>
          </div>
          <div>
              </br><%= label_tag :crop %>
           <%if current_user.has_role? :consultant%>
              <%= select_tag 'crop_name',options_for_select([["Corn","Corn"],["Soyabean","Soyabean"],["Wheat","Wheat"]]) %>
            <%else%>
              <%= select_tag 'crop_name',options_for_select( @crop.each_with_index.map {|name| [name,name]},:selected=>@crop_name) %>
            <%end%>
          </div>
          <div>
            </br><%= label_tag :Open_order %>
                 <%= select_tag :open_order, options_for_select([['No',false],['Yes', true]]) %>
          </div>
          <div>
            </br><%= label_tag :Bushels %>
               <%=text_field_tag :bushels, (!@bushels.blank?) ? @bushels : " " %>  
          </div>
          <div>
          </br>  <%=label_tag :Delivery_Location %>
             <%= text_field_tag :delivery_location%>
          </div>
          <div>
          </br>  <%= label_tag :delivery_period %>
            <%= text_field_tag :delivery_period%>
          </div>
        </td>
        <td style="padding-left: 187px;">
           <div>
            <%= label_tag :Future_price %>
             <%= text_field_tag :futures_price,nil,:class=>"fwd_future_price"%>
          </div>
          <div>
           </br>   <%= label_tag :Basis %>
            <%= text_field_tag :basic,nil,:class=>"fwd_basic"%>
          </div>
          <div>
           </br>   <%= label_tag :Cash_price %>
           <%= text_field_tag :cash_price,nil,:disabled=>true%>
          </div>
           <div>
            </br>  <%= label_tag :contract_number %>
             <%= text_field_tag :contact_number%>
          </div>
          <div>
             </br> <%= label_tag :percentage_production %>
             <%#debugger%>
             <%= text_field_tag :percentage_production,(!@percetage_production.blank?) ? @percetage_production : " " ,:readonly => true%>
          </div>
        </td>
      </tr>
    </table>  
  <%end%>

<%if id=="hedge"%>
    <h4 style="padding-left: 187px;">Hedge-To-Arrive</h4>
    <table>
      <tr>
        <td style="padding-left: 187px;">
          </br>
          <div>
            <%= label_tag :year %>
            <%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] },:selected=>@year) %>
          </div>

          <div>
              <%= label_tag :crop %>
            <%if current_user.has_role? :consultant%>
              <%= select_tag 'crop_name',options_for_select([["Corn","Corn"],["Soyabean","Soyabean"],["Wheat","Wheat"]]) %>
            <%else%>
              <%= select_tag 'crop_name',options_for_select( @crop.each_with_index.map {|name| [name,name]},:selected=>@crop_name) %>
            <%end%>
          </div>
          <div>
           <%= label_tag :Open_Order %>
            <%= select_tag :open_order, options_for_select([['No',false],['Yes', true]]) %>
          </div>
          <div>
            <%= label_tag :Bushels %>
               <%=text_field_tag :bushels , (!@bushels.blank?) ? @bushels : " "%>  
          </div>
          <div>
            <%=label_tag :Delivery_Location %>
             <%= text_field_tag :delivery_location%>
          </div>


          <div>
            <%= label_tag :future_Month %>
             <%=select_month(Date.today, :start_year => Time.now.month) %>
          </div>
         
          
        </td>

        <td style="padding-left: 187px;">  
          </br>
            <div>
            <%= label_tag :future_year %>          
            <%=select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year+5) %>
          </div>
       
          <div>
            <%= label_tag :Future_Price %>
            <%= text_field_tag :futures_price,nil,:class=>"hedge_future_price"%>
          </div>
         
          <div>
              <%= label_tag "Est_Basis"%>
              <%= text_field_tag :basic,nil,:class=>"hedge_future_price"%>
          </div>
          <div>
              <%= label_tag :Cash_Price %>
          <%= text_field_tag :cash_price,nil,:disabled=>true%>
          </div>
           <div>
              <%= label_tag :contract_Number %>
             <%= text_field_tag :contact_number%>
          </div>

         
          <div>
              <%= label_tag :percentage_Of_Production %>
             <%= text_field_tag :percentage_production,(!@percetage_production.blank?) ? @percetage_production : " " ,:readonly => true%>
          </div>
        </td>
      </tr>
    </table>      
  <%end%>

  <%if id=="basis"%>

    <h4 style="padding-left: 187px;">Basis Contract</h4>
    <table>
      <tr>
        <td style="padding-left: 187px;">
            <div>
            <%= label_tag :year %>
             <%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] },:selected=>@year) %>
          </div>
           <div>
              <%= label_tag :crop %>
             <%if current_user.has_role? :consultant%>
              <%= select_tag 'crop_name',options_for_select([["Corn","Corn"],["Soyabean","Soyabean"],["Wheat","Wheat"]]) %>
            <%else%>
              <%= select_tag 'crop_name',options_for_select( @crop.each_with_index.map {|name| [name,name]},:selected=>@crop_name) %>
            <%end%>
          </div>

          <div>
           <%= label_tag :Open_Order %>
            <%= select_tag :open_order, options_for_select([['No',false],['Yes', true]]) %>
          </div>
          <div>
            <%= label_tag :Bushels %>
              <%=text_field_tag :bushels , (!@bushels.blank?) ? @bushels : " "%>   
          </div>
          <div>
            <%=label_tag :Delivery_Location %>
             <%= text_field_tag :delivery_location%>
          </div>
            <div>
            <%= label_tag :future_Month %>
             <%=select_month(Date.today, :start_year => Time.now.month) %>
          </div>
          
          
        </td>
        <td style="padding-left: 187px;"> 
           <div>
            <%= label_tag :future_Year %>          
            <%=select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year+5) %>
          </div>
        <div>
            <%= label_tag :Future_Price %>
            <%= text_field_tag :futures_price,nil,:class=>"basis_future_price"%>
          </div>         
          <div>
              <%= label_tag :Basis %>
              <%= text_field_tag :basic,nil,:class=>"basis_basic"%>
          </div>
          <div>
              <%= label_tag :Cash_Price %>
          <%= text_field_tag :cash_price,nil,:disabled=>true%>
          </div>  
           <div>
            <%= label_tag :contract_Number %>
             <%= text_field_tag :contact_number%>
          </div>
         
          <div>
              <%= label_tag :percentage_Of_Production %>
             <%= text_field_tag :percentage_production,(!@percetage_production.blank?) ? @percetage_production : " " ,:readonly => true%>
          </div>
        </td>
      </tr>
    </table>         
  <%end%>

<%if id=="future"%>
    <h4 style="padding-left: 187px;">Futures</h4>
    <table>
      <tr>
        <td style="padding-left: 187px;">
          <br>
          <div>
            <%= label_tag :year %>
            <%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] },:selected=>@year) %>
          </div>

          <div >
              <%= label_tag :crop %>
            <%if current_user.has_role? :consultant%>
              <%= select_tag 'crop_name',options_for_select([["Corn","Corn"],["Soyabean","Soyabean"],["Wheat","Wheat"]]) %>
            <%else%>
              <%= select_tag 'crop_name',options_for_select( @crop.each_with_index.map {|name| [name,name]}) %>
            <%end%>
          </div>

          <div>
            <%= label_tag :Open_Order %>
            <%= select_tag :open_order, options_for_select([['No',false],['Yes', true]]) %>
          </div>
          <div>
            <%= label_tag :long_Short %>
             <%= select_tag :long_short, options_for_select([['Long', 'long'], ['Short', 'short']]) %>
          </div>
          <div>
            <%=label_tag :contract_Number %>
          <%= text_field_tag :contract%>
          </div>
        </td>
         <td style="padding-left: 187px;"> 
            <div>
            <%= label_tag :future_Month %>
             <%=select_month(Date.today, :start_year => Time.now.month) %>
          </div>
           <div>
            <%= label_tag :future_Year %>          
            <%=select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year+5) %>
          </div>
          <div>
            <%= label_tag :Future_Price %>
            <%= text_field_tag :futures_price%>
          </div>
          
        <div>
            <%= label_tag :gain_Loss %>
          <%= text_field_tag :gain_loss%>
        </div>
      </td>
    </tr>
  </table>      
<%end%>

<%if id=="option"%>
    <h4 style="padding-left: 187px;">Options</h4>
    <table>
      <tr>
        <td style="padding-left: 187px;">
           </br>
          <div>
              <%= label_tag :crop %>
            <%if current_user.has_role? :consultant%>
              <%= select_tag 'crop_name',options_for_select([["Corn","Corn"],["Soyabean","Soyabean"],["Wheat","Wheat"]]) %>
            <%else%>
              <%= select_tag 'crop_name',options_for_select( @crop.each_with_index.map {|name| [name,name]}) %>
            <%end%>
          </div>
          <div>
            <%= label_tag :year %>
             <%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] },:selected=>@year) %>
          </div>
          <div>
           <%= label_tag :Open_Order %>
            <%= select_tag :open_order, options_for_select([['No',false],['Yes', true]]) %>
          </div>
          <div>
            <%= label_tag :long_Short %>
              <%= select_tag :long_short, options_for_select([['Long', 'long'], ['Short', 'short']]) %>
          </div>
          <div>
            <%=label_tag :contract_Number %>
          <%= text_field_tag :contract%>
          </div>
          
        </td>
        <td style="padding-left: 187px;">  
          <div>
            <%= label_tag :put_Call %>
             <%= select_tag :put_call, options_for_select([['Put', 'put'], ['Call', 'call']]) %>
          </div>
          <div>
              <%= label_tag :stike_Price %>
            <%= text_field_tag :stike_price%>
          </div>
          <div>
              <%= label_tag :premium %>
          <%= text_field_tag :premium%>
          </div>       
           <div>
              <%= label_tag :gain_Loss %>
             <%= text_field_tag :gain_loss%>
          </div>
          
       </td>
     </tr>
    </table>    
<%end%>
 <%= hidden_field_tag "id",id %>
 

 <%=hidden_field_tag :user_id,current_user.id%>
<p style="padding-left: 187px;"><%= submit_tag "Submit Information" ,:class=>"btn btn-primary"%></p>
  <%end%>
  <%#= link_to "Back ",recommend_home_index_path,:class=>"btn-primary"%>
</div>
 <script>
 
  $(document).ready(function() {
    $('.future_price').keyup(function() {
    var id = $(this).attr('id');
       var val=$("#"+id).val();  
     var basic=$('#basic').val();
      if (basic=="")
      {
       var total=parseFloat(val) + 0
      }
      else{
       var total=(parseFloat(val) + parseFloat(basic))
      }
      $('#cash_price').val(total)
    });
     $('.basic').keyup(function() {
      var id = $(this).attr('id');
      var val=$("#"+id).val();
       var futures_price=$('#futures_price').val();
        if (futures_price=="")
        {
         var total=parseFloat(val) + 0
        }
        else{
           var total=(parseFloat(val) + parseFloat(futures_price))
        }
      
        $('#cash_price').val(total)
      
    });
      $('.fwd_future_price').keyup(function() {
    var id = $(this).attr('id');
       var val=$("#"+id).val();  
     var basic=$('#basic').val();
      if (basic=="")
      {
       var total=parseFloat(val) + 0
      }
      else{
       var total=(parseFloat(val) + parseFloat(basic))
      }
      $('#cash_price').val(total)
    });
     $('.fwd_basic').keyup(function() {
      var id = $(this).attr('id');
      var val=$("#"+id).val();
       var futures_price=$('#futures_price').val();
        if (futures_price=="")
        {
         var total=parseFloat(val) + 0
        }
        else{
           var total=(parseFloat(val) + parseFloat(futures_price))
        }
      
        $('#cash_price').val(total)
      
    });
       $('.hedge_future_price').keyup(function() {
    var id = $(this).attr('id');
       var val=$("#"+id).val();  
     var basic=$('#basic').val();
      if (basic=="")
      {
       var total=parseFloat(val) + 0
      }
      else{
       var total=(parseFloat(val) + parseFloat(basic))
      }
      $('#cash_price').val(total)
    });
     $('.hedge_basic').keyup(function() {
      var id = $(this).attr('id');
      var val=$("#"+id).val();
       var futures_price=$('#futures_price').val();
        if (futures_price=="")
        {
         var total=parseFloat(val) + 0
        }
        else{
           var total=(parseFloat(val) + parseFloat(futures_price))
        }
      
        $('#cash_price').val(total)
      
    });
         $('.basis_future_price').keyup(function() {
    var id = $(this).attr('id');
       var val=$("#"+id).val();  
     var basic=$('#basic').val();
      if (basic=="")
      {
       var total=parseFloat(val) + 0
      }
      else{
       var total=(parseFloat(val) + parseFloat(basic))
      }
      $('#cash_price').val(total)
    });
     $('.basis_basic').keyup(function() {
      var id = $(this).attr('id');
      var val=$("#"+id).val();
       var futures_price=$('#futures_price').val();
        if (futures_price=="")
        {
         var total=parseFloat(val) + 0
        }
        else{
           var total=(parseFloat(val) + parseFloat(futures_price))
        }
      
        $('#cash_price').val(total)
      
    });

     $('#bushels').keyup(function() {

      
          var val=$(this).val();

         
          var year= $("#year").val()
          var crop_name= $("#crop_name").val()
         
            var hedge_sale= "<%= params[:hedge_sale] %>"
            
            
            $.ajax({        

            type: 'POST',
            url: "<%=hedge_sale_home_index_path%>",
            data: {year: year,crop_name: crop_name,hedge_sale: hedge_sale,val: val}
            
        
            });
   
    });

    $('#year').change(function() {

              var val=$('#bushels').val();
              var year= $("#year").val()
              var crop_name= $("#crop_name").val()
             
                var hedge_sale    = "<%= params[:hedge_sale] %>"
                
                $.ajax({        

                type: 'POST',
                url: "<%=hedge_sale_home_index_path%>",
                data: {year: year,crop_name: crop_name,hedge_sale: hedge_sale,val: val}
                

                });
       
        });
    $('#crop_name').change(function() {

              var val=$('#bushels').val();
              var year= $("#year").val()
              var crop_name= $("#crop_name").val()
             
                var hedge_sale    = "<%= params[:hedge_sale] %>"
                
                $.ajax({        

                type: 'POST',
                url: "<%=hedge_sale_home_index_path%>",
                data: {year: year,crop_name: crop_name,hedge_sale: hedge_sale,val: val}
                

                });
       
        });

             
               

    });   

    </script>

