
<style>
 .list-select{ border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB; background-color:#D8D8D8; }
</style>
 

<% @user_id=current_user.id%>

 <div class="inner">
  <div class="accordion-inner">
  
    <ul class="one">
        <li class="archive_farmer" id="sales" style="width:19%">
          
          <%= link_to"<p >Archive</p>".html_safe,"#", :remote => true %>
        </li>
 
        <% @years=[] %>
        <% @year.each do |year| %>
          <% @years << year.year %>  
        <%end%>
        <%@years=@years.sort%>
 

        <%if !@years.nil?%>
        <% @years.each_with_index do |year,index| %> 
        
          <%if !(@archive_year.include? year)%>
          
              <%if year==Year.all.reverse.first.year && params[:data].blank?%>
              <li style="width:19%"><%= link_to"<p id=year_#{year} class=list-select>#{year}</p>".html_safe, { :action => "sale", :data=>year,:user_id=>current_user.id,:note=>"farmer"}, :remote => true %></li>   
              <%else%>
              <li style="width:19%"><%= link_to"<p id=year_#{year}>#{year}</p>".html_safe, { :action => "sale", :data=>year,:user_id=>current_user.id,:note=>"farmer"}, :remote => true %></li>       
              <%end%>
                
        <% end %>
        
        <% end %>
        <%else%>
       
        <% end %>      
    </ul>
    <ul class="two">
        <%if !@years.nil?%>
        <% @years.each do |year| %> 
        <% if (@archive_year.include? year)%>       
          <li style="display:none" class="archive_year_farmer_sales" ><%= link_to"<p id=year_#{year}>#{year}</p>".html_safe, { :action => "sale", :data=>year,:user_id=>current_user.id,:note=>"farmer"}, :remote => true %></li>
        <% end %>
        <% end %>
        <%else%>
        No Sales/Hedges this year.
        <% end %>      
    </ul>
   
   <div class="clearfix"></div>
    <!--clearfix-->
    <div id="open_popup"  style="display: none;"> 
      
      <h3>Sales/Hedges</h3>
      <%=form_tag hedge_sale_home_index_path ,:remote=>true ,:style=>"padding-left: 56px;" do%>
      <%=radio_button_tag "hedge_sale", 'cash',:checked=>true%>&nbsp;&nbsp;Cash Sale</br>
      <%=radio_button_tag "hedge_sale", 'forward'%>&nbsp;&nbsp;Forward Contract</br>
      <%=radio_button_tag "hedge_sale", 'hedge'%>&nbsp;&nbsp;Hedge-To-Arrive</br>
      <%=radio_button_tag "hedge_sale", 'basis'%>&nbsp;&nbsp;Basis Contract</br>
      <%=radio_button_tag "hedge_sale", 'future'%>&nbsp;&nbsp;Futures</br>
      <%=radio_button_tag "hedge_sale", 'option'%>&nbsp;&nbsp;Options</br></br>
      <%= submit_tag "select" ,:class=>"btn btn "%>
      <%end%>

    </div>
    <div class="news" style="margin-top:15px;"> <a href="javascript:void(0);" class="pull-left corn">
       <%= link_to "Add New" ,"#open_popup",:class=>"addnew_fancybox btn pull-right mar"%>
  
    
  <%@crop.uniq.each do|name|  %>
   <%if params[:data].blank?%>
    <%params[:data]=Year.all.reverse.first.year%>
    <%end%>
    
    <%@cash_sale=CashSale.find_all_by_user_id_and_year_and_crop_name(current_user.id,params[:data],name)%>
    <%@forward_contracts=ForwardContract.find_all_by_user_id_and_year_and_crop_name(current_user.id,params[:data],name)%>
       <%@hedge_to_arrive=HedgeToArrive.find_all_by_user_id_and_year_and_crop_name(current_user.id,params[:data],name)%>
 <%@future=Future.find_all_by_user_id_and_year_and_crop_name(current_user.id,params[:data],name)%>
   
<%@option=Option.find_all_by_user_id_and_year_and_crop_name(current_user.id,params[:data],name)%>
  
  <%@basic_contract=BasicContract.find_all_by_user_id_and_year_and_crop_name(current_user.id,params[:data],name)%>
  
  <%if !@cash_sale.blank? || !@hedge_to_arrive.blank? || !@forward_contracts.blank? || !@future.blank? || !@option.blank?   || !@basic_contract.blank?%>
    <h3><%=name%></h3>

    <%end%>  
      
   <br/>

   
      <% if !@cash_sale.blank? %>  
        
        <%=params[:data]%> Cash Sale information
        <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
        
        <%@cash_sale.each do|cash_sale|%>
                    <tr>
              <td><%=cash_sale.year%></td>
              <td><%=cash_sale.crop_name%></td>
               <%if cash_sale.open_order==false%>
                <td>No</td>
              <%else%>
                <td>Yes</td>
              <%end%>
              <td><%= cash_sale.bushels%></td>
              <td><%= cash_sale.delivery_location%></td>
              <td><%= cash_sale.futures_price%></td>
              <td><%= cash_sale.basic%></td>
              <td><%= cash_sale.cash_price%></td>
              <td><%= cash_sale.contact_number%></td>
              <td><%= cash_sale.percentage_production%></td>
             </tr> 
         <%end%>
       
        </table>

        <%end%> 


   
  
    <% if !@forward_contracts.blank? %>
   
  
      <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Forward Contract</a>
        <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;" >
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Period</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
          
       
           
            
          <%@forward_contracts.each do |forward_contract|%>
            <tr>
              <td style="white-space:nowrap;"><%= forward_contract.year%></td>
              <td style="white-space:nowrap;"><%= forward_contract.crop_name%></td>
               <%if forward_contract.open_order==false%>
                <td style="white-space:nowrap;">No</td>
              <%else%>
                <td style="white-space:nowrap;">Yes</td>
              <%end%>
              
              <td style="white-space:nowrap;"><%= forward_contract.bushels%></td>
              <td style="white-space:nowrap;"><%= forward_contract.delivery_location%></td>
              <td style="white-space:nowrap;"><%= forward_contract.delivery_period%></td>
              <td style="white-space:nowrap;"><%= forward_contract.futures_price%></td>
              <td style="white-space:nowrap;"><%= forward_contract.basic%></td>
              <td style="white-space:nowrap;"><%= forward_contract.cash_price%></td>
              <td style="white-space:nowrap;"><%= forward_contract.contact_number%></td>
              <td style="white-space:nowrap;"><%= forward_contract.percentage_production%></td>
            </tr> 
          <%end%>  
        
        </table>
    <%end%>
  
    <% if !@hedge_to_arrive.blank? %>
    
      <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Hedge To Arrive</a>
        <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Month</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Est.Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
         
          
            <%@hedge_to_arrive.each do |hedge_to_arrive|%>
            <tr>
              <td style="white-space:nowrap;"><%=hedge_to_arrive.year%></td>
              <td style="white-space:nowrap;"><%=hedge_to_arrive.crop_name%></td>
               <%if hedge_to_arrive.open_order==false%>
                <td style="white-space:nowrap;">No</td>
              <%else%>
                <td style="white-space:nowrap;">Yes</td>
              <%end%>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.bushels%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.delivery_location%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.future_month%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.futures_price%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.basic%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.cash_price%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.contact_number%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.percentage_production%></td>
            </tr> 
          <%end%>
      
     </table>
   
    <%end%>
   <% if !@future.blank? %>
    
      <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Future</a>
       <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Duration </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Month</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Weight </th>
          
          </tr>
     
  
      <%@future.each do |future|%>
       <tr>
              <td><%=future.year%></td>
              <td><%=future.crop_name%></td>
              <%if future.open_order==false%>
                <td>No</td>
              <%else%>
                <td >Yes</td>
              <%end%>
              <td><%= future.long_short%></td>
              <td><%= future.contract%></td>
              <td><%= future.future_month%></td>
              <td><%= future.futures_price%></td>
              <td><%= future.gain_loss%></td>
            
            </tr> 
      <%end%>  
         
      </table> 
 
    <%end%>
  <% if !@option.blank? %>
  
    <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> option</a>
     <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Duration </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Put/Call</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Strike Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> premium </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Weight </th>
          
 
           <%@option.each do |option|%>
             <tr>
              <td><%=option.year%></td>
               <td><%=option.crop_name%></td>
               <%if option.open_order==false%>
                <td>No</td>
              <%else%>
                <td >Yes</td>
              <%end%>
              <td><%= option.long_short%></td>
              <td><%= option.contract%></td>
              <td><%= option.put_call%></td>
              <td><%= option.strike_price%></td>
              <td><%= option.premium%></td>
              <td><%= option.gain_loss%></td>
            
            </tr> 
          <%end%>  
          
           
      </table> 
  
 <%end%>
  
 <% if !@basic_contract.blank? %>

    <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Basis Contract</a>
     <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Month</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
      
          <%@basic_contract.each do |basic_contract|%>
            <tr>
              <td style="white-space:nowrap;"><%=basic_contract.year%></td>
              <td style="white-space:nowrap;"><%=basic_contract.crop_name%></td>
              <%if basic_contract.open_order==false%>
                <td style="white-space:nowrap;">No</td>
              <%else%>
                <td style="white-space:nowrap;" >Yes</td>
              <%end%>
              <td style="white-space:nowrap;"><%= basic_contract.bushels%></td>
              <td style="white-space:nowrap;"><%= basic_contract.delivery_location%></td>
              <td style="white-space:nowrap;"><%= basic_contract.future_month%></td>
              <td style="white-space:nowrap;"><%= basic_contract.futures_price%></td>
              <td style="white-space:nowrap;"><%= basic_contract.basic%></td>
              <td style="white-space:nowrap;"><%= basic_contract.cash_price%></td>
              <td style="white-space:nowrap;"><%= basic_contract.contact_number%></td>
              <td style="white-space:nowrap;"><%= basic_contract.percentage_production%></td>
            </tr> 
          <%end%> 
         
      </table> 
 
      </table> 
   <%end%>

       
    
  
 <%end%>



<!--news-->
  </div>
  <!--accordion-inner-->
</div>
              <!--inner-->

   
<script type="text/javascript">
  $(document).ready(function(){
    $(".archive_farmer").click(function(){
      var id = $(this).attr("id");
      $(".archive_year_farmer_"+id).toggle();
    });

  });
</script>


