 <div class="inner">
  <div class="accordion-inner">
              <ul class="one">
        <li id="archive">
        <p style="color:#0088CC">Archive</p>
        </li>

      <% @years=[] %>
      <% @year.each do |year| %>
        <% @years << year.year %>  
      <%end%>
      <%@years=@years.sort%>


        <%if !@years.nil?%>
        <% @years.each do |year| %>
        <%if !(@archive_year.include? year)%>
        <%if year==Year.all.reverse.first.year && params[:data].blank?%>
        <li><%= link_to"<p class=list-select>#{year}</p>".html_safe, { :action => "sale", :data=>year,:user_id=>@user_id}, :remote => true %></li>
        <%else%>
        <li><%= link_to"<p>#{year}</p>".html_safe, { :action => "sale", :data=>year,:user_id=>@user_id}, :remote => true %></li>
        <%end%>
        <% end %>
        <% end %>

        <% end %>
        </ul>
        <ul class="two">
        <%if !@years.nil?%>
        <% @years.each do |year| %>
       <%if (@archive_year.include? year)%>
        <li style="display:none" class="archive_year"><%= link_to"<p>#{year}</p>".html_safe, { :action => "sale", :data=>year,:user_id=>@user_id}, :remote => true %></li>
        <% end %>
        <% end %>

        <% end %>
        </ul>
    
    <div class="clearfix"></div>
    <!--clearfix-->
    
  
     <div class="news" style="margin-top:15px;"> <a href="javascript:void(0);" class="pull-left corn">
       <%= link_to "" ,"#open_popup",:class=>"addnew_fancybox  pull-right mar"%>

    <%if !@crop.blank?%>
     <%@crop.each do|name|  %>
     <% @flag=0%>
    <h3><%=name%></h3>
    <br/>

    <%@cash_sale=CashSale.find_all_by_user_id_and_year_and_crop_name(params[:select_user_id],params[:data],name)%>

     <% if !@cash_sale.blank? %> 
        <% @flag=1%>
            <%=params[:data]%> Cash Sale information
        <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
       
        <%@cash_sale.each do|cash_sale|%>
                    <tr>
              <td><%=cash_sale.year%></td>
              <td><%=cash_sale.crop_name%></td>
               <%if cash_sale.open_order==false%>
                <td>No</td>
              <%else%>
                <td>Yes</td>
              <%end%>
              
              <td><%= cash_sale.bushels%></td>
              <td><%= cash_sale.delivery_location%></td>
              <td><%= cash_sale.futures_price%></td>
              <td><%= cash_sale.basic%></td>
              <td><%= cash_sale.cash_price%></td>
              <td><%= cash_sale.contact_number%></td>
              <td><%= cash_sale.percentage_production%></td>
             </tr> 
         <%end%>
        
      
        </table>

       
        <%end%> 
 
   <%@forward_contracts=ForwardContract.find_all_by_user_id_and_year_and_crop_name(params[:select_user_id],params[:data],name)%>
  
    <%if !@forward_contract.blank?%>
    <% @flag=1%>
    <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Forward Contract</a>
        <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;" >
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Period</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
          
       
       
            
          <%@forward_contract.each do |forward_contract|%>
            <tr>
              <td style="white-space:nowrap;"><%=forward_contract.year%></td>
              <td style="white-space:nowrap;"><%=forward_contract.crop_name%></td>
              <%if forward_contract.open_order==false%>
                <td style="white-space:nowrap;">No</td>
              <%else%>
                <td style="white-space:nowrap;">Yes</td>
              <%end%>
              
              <td style="white-space:nowrap;"><%= forward_contract.bushels%></td>
              <td style="white-space:nowrap;"><%= forward_contract.delivery_location%></td>
              <td style="white-space:nowrap;"><%= forward_contract.delivery_period%></td>
              <td style="white-space:nowrap;"><%= forward_contract.futures_price%></td>
              <td style="white-space:nowrap;"><%= cash_sale.basic%></td>
              <td style="white-space:nowrap;"><%= forward_contract.cash_price%></td>
              <td style="white-space:nowrap;"><%= forward_contract.contact_number%></td>
              <td style="white-space:nowrap;"><%= forward_contract.percentage_production%></td>
            </tr> 
          <%end%>  
        
      
        </table>
  <%end%>
   <%@hedge_to_arrive=HedgeToArrive.find_all_by_user_id_and_year_and_crop_name(params[:select_user_id],params[:data],name)%>
  
    <%if !@hedge_to_arrive.blank?%>
    <% @flag=1%>
      <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Hedge To Arrive</a>
        <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Month</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Est.Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
         
          
            <%@hedge_to_arrive.each do |hedge_to_arrive|%>
            <tr>
              <td style="white-space:nowrap;"><%=hedge_to_arrive.year%></td>
              <td style="white-space:nowrap;"><%=hedge_to_arrive.crop_name%></td>
               <%if hedge_to_arrive.open_order==false%>
                <td style="white-space:nowrap;">No</td>
              <%else%>
                <td style="white-space:nowrap;">Yes</td>
              <%end%>
             
              <td style="white-space:nowrap;"><%= hedge_to_arrive.bushels%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.delivery_location%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.future_month%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.futures_price%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.basic%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.cash_price%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.contact_number%></td>
              <td style="white-space:nowrap;"><%= hedge_to_arrive.percentage_production%></td>
            </tr> 
          <%end%>
           
      
     </table>
   <%end%> 
  
   <%@future=Future.find_all_by_user_id_and_year_and_crop_name(params[:select_user_id],params[:data],name)%>
    <%if !@future.blank?%>
    <% @flag=1%>
    <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Future</a>
     <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Duration </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Month</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Weight </th>
          
          </tr>
      
  
      <%@future.each do |future|%>
       <tr>
              <td><%=future.year%></td>
              <td><%=future.crop_name%></td>
               <%if future.open_order==false%>
                <td>No</td>
              <%else%>
                <td >Yes</td>
              <%end%>
             
              
              <td><%= future.long_short%></td>
              <td><%= future.contract%></td>
              <td><%= future.future_month%></td>
              <td><%= future.futures_price%></td>
              <td><%= future.gain_loss%></td>
            
            </tr> 
      <%end%>  
    
      </table> 
  <%end%> 
  
  <%@option=Option.find_all_by_user_id_and_year_and_crop_name(params[:select_user_id],params[:data],name)%>
  <%if !@option.blank?%>
  <% @flag=1%>
    <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> option</a>
     <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Duration </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Put/Call</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Strike Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> premium </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Weight </th>
           
 
           <%@option.each do |option|%>
             <tr>
              <td><%=option.year%></td>
               <td><%=option.crop_name%></td>
                <%if option.open_order==false%>
                <td>No</td>
              <%else%>
                <td >Yes</td>
              <%end%>
             
             
              <td><%= option.long_short%></td>
              <td><%= option.contract%></td>
              <td><%= option.put_call%></td>
              <td><%= option.strike_price%></td>
              <td><%= option.premium%></td>
              <td><%= option.gain_loss%></td>
            
            </tr> 
          <%end%>  
         
     
           
      </table> 
   <%end%> 
 
  <%@basic_contract=BasicContract.find_all_by_user_id_and_year_and_crop_name(params[:select_user_id],params[:data],name)%>
  
 <%if !@basic_contract.blank?%>
 <% @flag=1%>
    <a href="javascript:void(0);" class="pull-left corn"><%=params[:data]%> Basis Contract</a>
     <table id="sortclass1" class="table table-bordered new-tab tablesorter" style="margin-left: auto;">
          <tr class="title-tab">
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Year</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Crop Name</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Open Order</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Bushels </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Delivery Location</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Month</th>            
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Future Prices</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Basis </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Cash Price</th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> Contract Number </th>
            <th style="white-space:nowrap; padding: 0pt;"><i class="arr"></i> %</th>
          </tr>
         
           <%@basic_contract.each do |basic_contract|%>
            <tr>
              <td style="white-space:nowrap;"><%=basic_contract.year%></td>
              <td style="white-space:nowrap;"><%=basic_contract.crop_name%></td>
              <%if basic_contract.open_order==false%>
                <td style="white-space:nowrap;">No</td>
              <%else%>
                <td style="white-space:nowrap;" >Yes</td>
              <%end%>
             
              <td style="white-space:nowrap;"><%= basic_contract.bushels%></td>
              <td style="white-space:nowrap;"><%= basic_contract.delivery_location%></td>
              <td style="white-space:nowrap;"><%= basic_contract.future_month%></td>
              <td style="white-space:nowrap;"><%= basic_contract.futures_price%></td>
              <td style="white-space:nowrap;"><%= basic_contract.basic%></td>
              <td style="white-space:nowrap;"><%= basic_contract.cash_price%></td>
              <td style="white-space:nowrap;"><%= basic_contract.contact_number%></td>
              <td style="white-space:nowrap;"><%= basic_contract.percentage_production%></td>
            </tr> 
          <%end%> 
           
     
      </table> 
   <%end%>
   <% if  @flag==0 %>
    <b><i>No Information found..</b></i>
  <%end%> 

  
     <%end%>
    
     <%end%>
<!--news-->
  </div>
  <!--accordion-inner-->
</div>
<!--inner-->
<script>
$(document).ready(function() {

$("#archive").click(function(){


$(".archive_year").toggle();
});

});
</script>
