<div class="container">
<%= form_for @user ,:url=>user_create_home_index_path do |f| %>


  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :cell_number %><br />
  <%= f.text_field :cell_number %></div>

  <div><%= f.submit"Add User" ,:class=>"btn btn-primary"%></div>
<% end %>
</div>