 <div id ="header">
    <div class="row-fluid">
      <div class="container-header">
        <nav class="navbar">
          <div class="navbar-inner top-nav">
            <div class="container" style="background:none; padding:0;">
              <div class="navs">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                <!-- Everything you want hidden at 940px or less, place within here -->

                <a href="javascript:void(0);" > <%=link_to( image_tag("/assets/img/logo.png"), root_path,:class=>"logo brand") %></a>
                <div class="nav-collapse collapse">
                  <ul class="nav pull-right">
                    <% if user_signed_in? %>
                    <%if current_user.has_role? :admin %>
                      <li><%#= link_to "Add consultant", add_consultant_home_index_path%></li>
                      <li><%#= link_to "Add Farmer", add_user_home_index_path%></li>
                      <li><%#= link_to "News/Recommend",recommend_home_index_path%></li>
                      <li><%#= link_to "All User",users_list_home_index_path%></li>
                    <%end%>
                    <%if current_user.has_role? :user %>
                    <li><%#= link_to "My Recommend",user_recommend_home_index_path %></li>
                    <li><%#= link_to "Crop Information",create_crop_information_home_index_path %></li>
                    <li><%#= link_to "Crop Sale",users_crop_sales_home_index_path %></li>
                  <%end%>
                  <%if current_user.has_role? :consultant %>
                   <li><%#= link_to "Add Farmer", add_user_home_index_path%></li>
                   <li><%#= link_to "Recommendations",recommend_home_index_path%></li>
                   <li><%#= link_to "Farmer List",consultant_user_list_home_index_path%></li>
                  <%end%>
                  <li><%= link_to 'Sign out', destroy_user_session_path,:method=>:delete %><li>
                    <%end%>
                  
                    <% if !user_signed_in? %>
                      <div id ="sign">
                        <ul class="nav pull-right">
                          <li><%= link_to 'About',  about_home_index_path %> </li>
                          <li><%= link_to 'Contact', contact_home_index_path %></li>
                          <li><%= link_to 'Login', new_user_session_path ,:remote=>true%> </li>
                        </ul>
                      </div>  
                      <div id ="login" style="display:none">
                        <ul class="nav pull-right">
                          <li><%= link_to 'About'%> </li>
                          <li><%= link_to 'Contact',  "#"%></li>
                          <li><%= link_to 'Login', new_user_session_path ,:remote=>true, :id=>"sign_in"%> </li>
                         
                        </ul>
                      </div>
                    <% end %>
                
                </div>
                <!--nav-collapse-->
              </div>
              <!--navs-->
            </div>
            <!--container-->
          </div>
          <!--navbar-inner-->
        </nav>
        <!--navbar-->
      </div>
      <!--container-->
    </div>
    <!--row-fluid-->
  </div>
 <script>
$("#sign_in").click(function(){
$("#login").hide();
});
</script>
